@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin:0;
    padding:0;

}
html{
    scroll-behavior: smooth;
}
.logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 30%;
    border: 3px solid white;
    border-radius: 80px;
    margin:6px;


}

.navbar{
    display: flex;
    align-items:center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
    width: 70%;
    /*background-color: rgb(16, 15, 15);*/
    display:flex;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 26px 30px;

}

.nav-list li a{
    text-decoration: none;
    color: white;

}
.nav-list li a:hover{
     
    color: grey;


}

.rightnav{
    /*background-color:rgb(16, 15, 15);*/
    width: 30%;
    text-align: right;
    padding:9px  23px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
.background1{
    background: rgba(34, 34, 34, 0.7) url('../image/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.background{
    background: rgba(34, 34, 34, 0.7) url('../image/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.firstSection{
    height: 100vh ;

}

.box-main{
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 70%;
    margin: auto;
    height: 90%;

}
.firstHalf{
    width: 85%;
    display:blockflex;
    flex-direction: column ;
    justify-content: centre;


}
.secondHalf{
    width: 30%;
    
}
.secondHalf img{
    width: 85%;
    border: 4px solid white;
    border-radius: 200px;
    display: block;
    margin: auto;
}
.text-big{
    font-size: 40px;

}

.text-small{
    font-size: 20px;

}
.btn{
    padding: 8px 20px;
    margin: 7px 5px;
    border: 3px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
.btn-sm{
    padding: 6px 10 px;
    vertical-align: middle;
    font-size: 16px;
}

.btn-dark{
    color: black;
    border:3px solid black;
}
.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu' , sans-serif ;
    padding:25px;

}
.section-left{
    flex-direction: row-reverse;
    padding: 30px;
}

.paras{
    padding: 0 65px
}

.sectionTag{
    padding: 16px 0
}

.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact{
    background-color: azure;
    height: 750px;
}
.text-centre{
    text-align: center;
    padding-top:20px;
    font-family: 'Ubuntu' , sans-serif ;
    font-size: 35px;

}
.form{
    max-width: 62%;
    margin: 25px auto;
}
.form-input{
    margin:15px 0;
    padding: 5px 3px;
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
}
.text-footer{
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    background-color: grey;
    color: white;

}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;

}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 5px;
}

@media only screen and (max-width : 1170px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 500px ;
        flex-direction: column;
        transition: all 0.7s ease-out;
    }
    .rightnav{
        text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    #search{
        width:100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 75px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;

    }
    .text-big{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px;
    }

}